body {
  background-color: black;
}


.App {
  text-align: center;
  margin-top: 2rem;
  background-color: red;
}

.view{
  background-color: blue;
}

.TodoList {
  margin-top: 2rem;
}

.TodoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

input[type='text'] {
  margin-right: 0.5rem;
  background-color: white;
}

button {
  margin-left: 0.5rem;
  color: black;
  background-color: aquamarine;
}
